<section>
    <div>
        <div>
            <ul>
                <li (click)="navigateTo('dashboard')">
                    Dashboard
                </li>
                <li (click)="navigateTo('add-course')">
                    Add Course
                </li>
                <li (click)="navigateTo('add-instructor')">
                    Add Instructor
                </li>
                <li (click)="navigateTo('schedule-lecture')">
                    Schedule Lecture
                </li>
            </ul>
        </div>
    </div>
</section>

  
  