.header {
    background-color: #d3d3d3;
    border-bottom: 1px solid #0A3B47;
    .navbar {
        padding: 10px 0;
        a {
            font-size: 16px;
            margin: 0 30px;
        }

        button {
            color: #ffffff;
            background: #0A3B47 !important;
            border: 1px solid #0A3B47;
            padding: 5px 20px !important;
            margin: 0 15px;
        }
    }
}